.wide_wall_module  .shareToChat{
    position: absolute !important;
    right: 250px;
    width: 85px;
}

.wall_module .shareToChat{
    display: none;
}

.wall_post_over .shareToChat{
    display:block;
}

div.shareToChat .post_share_icon{
    background-position: 0 -11px !important;
}

/*Settings popup style*/
#outerVkExtSettings{
    position: fixed;
    top: 120px;
    right: 0;
    width: 250px;
    height: 85px;
}

.vkExtSettings{
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-weight: bold;
}

.vkExtIconSettings{
    float: right;
    position: relative;
    left: 15px;
    opacity: 0.7;
    cursor: pointer;
}

.input_arr{
    float: right;
    height: 24px;
    width: 21px;
    overflow: hidden;
    cursor: pointer;
    background: url(https://vk.com/images/wide_dd.gif) no-repeat 0px 0px;
    position: relative;
    top:-3px;
}

.input_text{
    float: left;
    border:0px;
    outline: 0px;
    height: 14px;
    position: relative;
    width: 205px;
}

.inputContainer{
    background: white;
    border: 1px solid #C0CAD5;
    overflow: visible !important;
    padding: 2px;
    position: relative;
    height: 18px;
}

/*Notification style*/
.vkExtNotificationView{
    display: none;
    width: 390px;
    height: 55px;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:78px;
    left: 40%;
    border-radius: 6px;
    color: white;
    z-index: 1200;
    padding-left: 20px;
    padding-top: 20px;
    font-size:1.09em;
}

.notification_title{
    font-weight: bold;
}

.notification_body{
    margin-top: 10px;
}

/*Error notification style*/
.errorNotify{
    display:block;
    height: 75px;
    background-color: rgba(255,210,211,1);
    border: 2px solid rgb(223,143,144);
}

.errorNotify .notification_title{
    color:rgb(155,20,20);
}

.errorNotify .notification_body{
    color:rgb(64,64,64)
}

.btn{
    padding: 6px;
    background:white;
    color:black;
    border-radius: 4px;
    display:inline-block;
    margin:4px;
    cursor: pointer;
    margin-left: 0px;
    font-weight: bold;
}

.box_dialog{
    background: #F7F7F7;
    height: 150px;
}

.box_close{
    color:#C7D7E9;
    padding: 9px 26px 18px;
    margin: -22px -10px -11px;
    cursor: pointer;
    font-weight: 100;
}

.box_close:hover{
    text-decoration: underline;
}

#contactDialog{
    display: none;
    width: 500px;
    margin: 100px auto 0 auto;
}

#contactDialog .header{
    color: white;
    font-weight: bold;
    background: #597BA5;
    padding: 10px 10px 11px;
}

#contactDialog .inner{
    padding-top: 10px;
    padding-left: 20px;
}

#contactDialog .inner div{
    display: inline-block;
}

.popupList{
    overflow-y: scroll;
    max-height: 250px;
    background: white;
    color: black;
    z-index: 200;
    width: 232px;
    border: 1px solid #C0CAD5;
    position: relative;
    left: -3px;
}

.contactListItem{
    padding: 5px;
    border-bottom: 1px solid #C0CAD5;
    cursor: pointer;
    height: 65px;
}

.contactListItem:hover{
    background: rgb(241,245,249);
}

.notFound{
    display: none;
}

.contactListItem .text_item{
    position: relative;
    top: -20px;
    margin-left: 10px;
    width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchResultItem{
    padding-left: 20px;
}

.searchResultItem .text_item{
    position: relative;
    top: -20px;
    margin-left: 10px;
}

.notify{
    position: relative;
    top: -25px;
    margin-left: 10px;
}

.notify_error_text{
    color:rgb(155,20,20);
}

.notify_success_text{
    color:rgb(37,169,94);
}

.loading_spinner{
    display: none;
    width: 25px;
    margin: 10px auto;
}

#errorSearch{
    display: none;
    margin-left: 20px;
}

#selectedListItem{
    cursor: auto;
    margin-left: 10px;
}

#selectedListItem .text{
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inl_block{
    display: inline-block;
}

.remove{
    cursor: pointer;
    padding-left: 17px;
    margin-left: 10px;
    background: url('chrome-extension://__MSG_@@extension_id__/images/delete.png') no-repeat -0px 1px;
}

.remove:hover{
    position: relative;
    top:1px;
    background-position: -0px -12px;
}

