.wide_wall_module  .shareToChat{
    position: absolute !important;
    right: 250px;
    width: 85px;
}

.wall_module .shareToChat{
    display: none;
}

.wall_post_over .shareToChat{
    display:block;
}

div.shareToChat .post_share_icon{
    background-position: 0 -11px !important;
}

/*Settings popup style*/
#outerVkExtSettings{
    position: fixed;
    top: 120px;
    right: 0;
    width: 180px;
    height: 85px;
}

.vkExtSettings{
    display: none;
    border: 3px solid #2B587A;
    border-radius: 5px;
    padding: 7px;
    color: #45688E;
    background-color: rgba(222,229,235,0.5);
    font-weight: bold;
}

.vkExtIconSettings{
    float: right;
    position: relative;
    left: 15px;
    opacity: 0.7;
    cursor: pointer;
}

/*Notification style*/
.vkExtNotificationView{
    display: none;
    width: 390px;
    height: 55px;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:78px;
    left: 40%;
    border-radius: 6px;
    color: white;
    z-index: 1200;
    padding-left: 20px;
    padding-top: 20px;
    font-size:1.09em;
}

.notification_title{
    font-weight: bold;
}

.notification_body{
    margin-top: 10px;
}

/*Error notification style*/
.errorNotify{
    display:block;
    height: 75px;
    background-color: rgba(255,210,211,1);
    border: 2px solid rgb(223,143,144);
}

.errorNotify .notification_title{
    color:rgb(155,20,20);
}

.errorNotify .notification_body{
    color:rgb(64,64,64)
}

