<div class="box_dialog">
    <div class="header">
        <div class="title">Find Contact</div>
        <div class="fl_r box_close">Close</div>
    </div>
    <div class="inner">
        <div>
            <span><strong>Enter user ID:</strong></span>
            <input id="vk_user_chat_id" type="number" value="1" min="1" />
        </div>
        <div id="searchContact" class="button_blue" style="top:-7px;margin-left: 10px"><button>Find</button></div>
    </div>
    <div id="searchResult"></div>
    <div id="errorSearch"></div>
    <div class="loading_spinner"><img  /> </div>
</div>